---
import AboutHero from "@/components/pages/about/hero";
import Experiences from "@/components/pages/about/experiences";
import Main from "@/layouts/main.astro";

const content = {
  title: "About",
};
---

<Main content={content}>
  <AboutHero client:load />
  <Experiences client:load />
</Main>
