---
import FeaturedProject from "@/components/pages/home/featured-project";
import Hero from "@/components/pages/home/hero";
import Main from "@/layouts/main.astro";

const content = {
  title: "Homepage",
};
---

<Main content={content}>
  <Hero client:load />
  <FeaturedProject client:load/>
</Main>
