---
import Main from "@/layouts/main.astro";

const content = {
  title: "Discussion",
};
---

<Main content={content}>
  <div class="min-h-screen pt-20 container mx-auto px-4 text-center">Coming Soon</div>
</Main>
