---
import Header from "@/components/layout/header";
import "../styles/global.css";
const { content } = Astro.props;
const { pathname } = Astro.url;
---

<script is:inline define:vars={{ keyTheme: import.meta.env.PUBLIC_KEY_THEME }}>
  const theme = localStorage.getItem(keyTheme) || "dark";

  const isDark =
    theme === "dark" ||
    (theme === "system" &&
      window.matchMedia("(prefers-color-scheme: dark)").matches);
  document.documentElement.classList.toggle("dark", isDark);

  function changeFavicon(url) {
    const link =
      document.querySelector("link[rel*='icon']") ||
      document.createElement("link");

    link.type = "image/svg+xml";
    link.rel = "icon";
    link.href = url;

    // Hapus favicon lama (jika ada)
    const oldLink = document.querySelector("link[rel*='icon']");
    if (oldLink) {
      document.head.removeChild(oldLink);
    }

    document.head.appendChild(link);
  }

  const icon = {
    dark: "/favicon.svg",
    light: "/favicon-light.svg",
    system: "/favicon.svg",
  };

  changeFavicon(icon[theme]);
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{content.title} | syaad.dev</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body class="min-h-screen">
    <Header client:load activePath={pathname} />
    <slot />
  </body>
</html>
