---
import Header from "@/components/layout/header";
import "../styles/global.css";
const { content } = Astro.props;
---

<script is:inline define:vars={{ keyTheme: import.meta.env.PUBLIC_KEY_THEME }}>
  const theme = localStorage.getItem(keyTheme) || "dark";
  const isDark =
    theme === "dark" ||
    (theme === "system" &&
      window.matchMedia("(prefers-color-scheme: dark)").matches);
  document.documentElement.classList.toggle("dark", isDark);
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title} | syaad.dev</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen pt-20">
    <Header client:load />
    <slot />
  </body>
</html>
